
header{
    display: flex;
    height: 7.5rem;
    align-items: center;
    padding-top: 0.6rem;
.container{
    .menu{
        display: none;
      
        .menu-extended{
            border-radius: 1.2rem;
            max-height: 280px;
            height: 0;
            overflow: hidden;
            z-index: 3;
            position: fixed;
            right: 0;
            top: 0;
            max-width: 170px;
            width: 100%;
            background-color: $primary-color2;
            transition: height 0.6s;
            ul{
                
                align-items: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                span{
                    margin-left: 1rem;
                }
                li{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                width: 100%;
                padding-top: 1.2rem;
         
                a{
                    align-items: center;
                    justify-content: center;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 125%;
                    transition: color .3s;
                    color: $text-color;
                    &:hover{
                        color: $second-color;
                    }
                    
                }
            }
            }
        }
        &:hover{
                .menu-extended{
                    height: 100%;
                    border: 1px solid rgb(13, 22, 78);
                }
            }
        
     
    }
    @include flex(row,center,space-between);
    ul{
        justify-content: flex-end;
        align-items: center;
        max-width: 60rem;
        width: 100%;
        display: flex;
        span{
            margin-left: 1rem;
        }
        li{
        &:not(:first-child){
            margin-left: 1.2rem;
        
        }
        a{
            
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 125%;
            
            transition: color .3s;
            color: $text-color;
            &:hover{
                color: $second-color;
            }
            
        }
    }
    }
    .icon{
        display: flex;
        align-items: center;
        span{
            margin-left: 0.8rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.9rem;
            line-height: 125%;
            transition: color .3s;
            color: $second-color;
        }
    }

 }

 @media(min-height:906px){
    height: 8.3rem;
    .container{
        ul{
            li{
                a{
                    font-size: 2.1rem;
                }
            }
            span{
              height: 100%;
            }
        }
        .icon{
            img{
                width: 4.2rem;
            }
            span{
                font-size: 2.2rem;
            }
        }
    }
    }

 @include responsive(620px){
  .container{
    ul{
        li{
            a{
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 125%;

            }
        }
    }
  }

 }
 @include responsive(530px){
    padding-inline: 0.8rem;
    .container{
        padding-top: 1.2rem;
        border-bottom: 2px solid $primary-color2;
        padding-bottom: 1.4rem;
        ul{
            display: none;
        }
        .menu{
            display: flex;
        }
    }
       
  
}
}